.main-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.user-icon{
    font-size: 1.8rem;
}
.login-btn, .register-btn{
    width: 100%;
    background-color: var(--green);
    color: white;
    font-size: 1rem;
    padding: 0.8rem;
    box-shadow: 1px 1px 5px rgba(0, 0,10, 0.25);
}
.register-btn{
    background-color: var(--dark-blue);
}
.login-input{
    width: 100%;
    padding: 0.4rem;
    
}
.blur-filter{
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0,10, 0.4);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}
.restaurant-floating-data{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60vh;
    padding: 1rem;
    overflow-y: scroll;
    top: 20vh;
    background-color: var(--layer2);
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    border-radius: 1rem;
}
.floating-restaurant-title{
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;  
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    min-height: 5rem;
}
.add-restaurant{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
}
.add-restaurant div{
    text-align: center;
}


.floating-restaurant-title div{
    position: absolute;
    height: 5rem;
    display: flex;
    align-items: center;
    right: 1rem;
    color: white;
    z-index: 2;
    text-shadow: 0px 0px 8px black;
}
.floating-restaurant-title img{
    width: 100%;
    top: -50%;
    position: absolute;
    filter: brightness(0.8);
}
.floating-restaurant-address{
    display: flex;
    justify-content: space-between;
}
.menu-wrapper{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.visit-btn{
    background-color: var(--green);
    border-radius: 999rem;
    color: white;
    padding: 0.5rem 0.8rem;
    height: fit-content;
}
.menu-row-category{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem;
    align-items: center;
}
.menu-row-category div{
    margin-left: 1rem;
    font-size: 1.2rem;
}
.menu-row-wrapper{
    background-color: var(--layer3);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.rotate-0{
    transition: all 0.5s;
    transform: rotate(0deg);
}
.rotate-90{
    transform: rotate(90deg);
    transition: all 0.5s;
}
.menu-food-row{
    margin: 0 2rem;
    padding: 0.2rem 1rem;
    border-bottom: solid 1px rgb(150, 149, 149);
}
.food-wrapper{
    display: flex;
    flex-direction: column;
  }
.menu-food-row:last-child{
    border: none ;
}
.floating-restaurant-menu{
    display: flex;
    flex: 1;
}
.input-wrapper{
    background-color: white;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0,10, 0.25);
}
.restaurants-wrapper{
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.restaurant-tags svg{
    margin-right: 0.3rem;
}
.restaurant-preview{
    border-radius: 1rem;
    min-height: 3rem;
    background-color: var(--light-gray);
    position: relative;
    height: 8rem;
    overflow: hidden;
    transition: 0.2s all;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0,10, 0.25);
}
.restaurant-preview:hover{
    transform: scale(0.98);
}
.restaurant-preview img{
    width: 100%;
    top: -50%;
    position: absolute;
    filter: brightness(0.8);
}   
.restaurant-name{
    position: absolute;
    right: 0.8rem;
    bottom: 0.8rem;
    font-size: 2rem;
    color: white;
    z-index: 2;
    text-shadow: 0px 0px 8px black;
}
.restaurant-tags{
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    color: white;
    z-index: 2;
    font-size: 0.8rem;
    text-shadow: 0px 0px 8px black;
}
.login-btn:hover{
    filter: brightness(1.05);
}
.register-btn:hover{
    filter: brightness(1.15);
}
.valid{
    color: var(--green);
}
.invalid{
    color: var(--red)
}
.valid-icon{
    width: 1.2rem !important;
    margin-left: 0.2rem;
}
.login-form{
    display: grid;
    gap: 0.2rem;
    padding: 1rem;
    justify-content: center;

}
.login-btn-wrapper{
    display: grid;
    gap:0.2rem;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    grid-template-columns: 100%;
    transition: all 1s;
    position: absolute;
    transform: translateX(20vw);
    z-index: 1;
    opacity: 0;
}
.login-btn-wrapper-visible{
    transform: translateX(0);
    z-index: 2;
    opacity: 1;
}
.login-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    align-items: center;
    position: relative;
    
}
@media  screen and (orientation:portrait) {
    .restaurant-floating-data{
        width: 95vw;
    }
    .restaurants-wrapper{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:640px){
    .restaurant-floating-data{
        width: 95vw;
    }
    .restaurants-wrapper{
        grid-template-columns: 1fr;
    }
}