.order-category{
    display: flex;
    flex-direction: column;
    padding:0.75rem;
    margin-top: 1rem;
    background-color: var(--light-gray);
    box-shadow: 1px 1px 8px 0px rgb(0 0 10 / 25%);
    border-radius: 1rem;
    margin-left: 1rem;
}
.order-category-title{
    align-items: center;
    display: flex;
    font-size: 1.5rem;
}
.order-category-title svg{
    margin-right: 1rem;
}
.restaurant-info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}
.order-foods-wrapper{
    margin-top: 0.5rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}
.order-title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.restaurant-info .row div:not(.bold){
    margin-left: 0.8rem;
}
.order-food{
    flex: 1;
    border-radius: 1rem;
    min-height: 5rem;
    display: flex;
    background-color: white;
    padding: 0.75rem;
    box-shadow: 1px 1px 8px 0px rgb(0 0 10 / 25%);
    flex-direction: column;
}
.order-description{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.cart-address{
    margin-top: 3.5rem;
    background-color: var(--dark-blue);
    color: white;
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.cart-row{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart-row:first-child{
    margin-bottom: 0.4rem;
}
.cart-wrapper{
    overflow-y: scroll;
    flex: 1;
    margin-top: 2rem;
}
.cart-food{
    color: #585858;
}
.cart-food-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}
.cart-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px gray;
    justify-content: space-between;
}
.cart-price{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    width: 40%;
}
.order-btn{
    width: 100%;
    background-color: var(--green);
    border-radius: 2rem;
    padding: 0.4rem;
    color: white;
    font-size: 1rem;
}
.cart-food{
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.cart-food svg:hover{
    fill: #2A9D8F;
}
.cart-food svg:first-child:hover{
    fill: #ff335b;
}
.order-food svg{
    cursor: pointer;
}
.cart-row input{
    border-radius: 0.3rem;
    padding: 0.3rem;
    width: 10vw;
}
.category-name{
    font-weight: bold;
}
.orders-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}
.order-total-price{
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-top: solid 1px gray;
    justify-content: flex-end;
}
.order{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px 0px rgb(0 0 10 / 25%);
    border-radius: 1rem;
    min-height: 5rem;
    padding: 1rem;
}
.order-food-row{
    display: flex;
    justify-content: space-between;
}
.order-food-wrapper{
    display: grid;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    grid-template-columns: 1fr;
    gap: 0.3rem;
}
@media  screen and (orientation:portrait) {
    .orders-wrapper{
        grid-template-columns: 1fr;
    }
    .cart-row input{
        width: 40vw;
    }
    .order-foods-wrapper{
        grid-template-columns: 1fr;
    }
    .order-category{
        margin-left: 0;
    }
}
@media screen and (max-width:640px){
    .orders-wrapper{
        grid-template-columns: 1fr;
    }
    .cart-row input{
        width: 40vw;
    }
    .order-foods-wrapper{
        grid-template-columns: 1fr;
    }
    .order-category{
        margin-left: 0;
    }
}