:root{
  --primary: #87CEFA ;
  --light-gray: #F1F6F9;
  --dark-blue: #264653;
  --green: #2A9D8F;
  --red: #ff335b;
  --layer2:#d9dde0;
  --layer3:#ced2d3;
  --layer4:#a9acae;
  --layer5:#919495;
  --category: #264653;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}
*{
  font-family: Roboto;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #303030;
}
.rounded-btn{
  border-radius: 100rem;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.center-x{
  justify-content: center;
}
.center-y{
  align-items: center;
}
.pages-wrapper{
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 10, 0.25);
 
}
.box-shadow{
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 10, 0.25);
}
.big-text{
  font-size: 1.7rem;
}
.nav-open-side{
  display: none;
  color: #303030;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  margin-left: 0.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 0px rgb(0 0 10 / 25%);
}
.space-between{
  justify-content: space-between;
}
.medium-text{
  font-size: 1.2rem;
}
.normal-text{
  font-size: 1rem;
}
.small-text{
  font-size: 0.8rem;
}
.right-page{
  width: 23%;

  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2.5rem;
}
.left-page{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: scroll;
}
.navbar-wrapper{
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: calc(40%);
  margin-left: 0rem;
  z-index: 10;

}
.navbar-link{
  padding: 0.4rem;
  margin: 0.1rem;
  background-color: white;
  color: black;
  border-radius: 0.8rem;
  display: flex;

  align-items: center;
}
.navbar-link:hover{
  filter: brightness(0.9);
}
.navbar-link svg{
  margin-right: 0.5rem;
}
.top-navbar{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  min-height: 2.5rem;
  border-radius: 1.25rem;
  color: black;
  background-color:white;
  box-shadow: 1px 1px 8px 0px rgb(0 0 10 / 25%);
  padding-left: 1rem;

}
.bottom-navbar{
  display: flex;
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 1.25rem;
  background-color: white;
  box-shadow: 1px 1px 8px 0px rgb(0 0 10 / 25%);
  padding: 0.5rem;
  display: none;
  transition: 0.2s all;
  flex-direction: column;

}
.navbar-open{
  display: flex;
}
.title-and-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.icon{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: inherit;
}
.filter-wrapper{
  min-width: 8rem;
  border-radius: 100rem;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.4rem 0.8rem ;
}
.navbar-input-wrapper{
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  font-size: 1.2rem;
  border-left: solid gray 1px;
  margin-left: 3rem;
  padding-right: 1rem;
}
.danger-btn{
  padding: 0.3rem 0.8rem;
  background-color: var(--red);
  color: white;
  width: fit-content;
  font-size: 1rem;
  border-radius: 2rem;
}

.left-page-top-container{
  width: 100%;
  margin-top: 4.5rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  background: linear-gradient(270deg, #1de48b, #08aeea);
  background-size: 400% 400%;
  animation: gradient-animation 9s ease infinite;
  box-shadow: 1px 1px 5px rgba(0, 0,10, 0.25);
  text-shadow: 0px 0px 4px black;
  font-size: 2rem;
  color: white;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.left-page-top-container div{
  text-align: center;
}
.navbar-input{
  height: 1.5rem;
  width: 100%;
  color: black;
  background-color: transparent;
  font-size: 0.9rem;
  padding-left: 1rem;
}
.navbar-input::placeholder{
  color: var(--dark-blue);
}
.scale-expand{
  transform: scale(1);
  transition: all 0.2s;
  opacity: 1;
}
.scale-close{
  transform: scale(0);
  transition: all 0.2s;
  opacity: 0;
  z-index: -1;
}
.visible{
  display: flex !important;
}
.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}
.hidden{
  display: none !important;
}
.navbar-logo{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.navbar-logo div{
  margin-left: 1rem;
}
#root{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);

}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-gray)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media  screen and (orientation:portrait) {
  .nav-open-side{
    display: flex;
  }
  .left-page{
    padding: 1rem;
  }
  .right-page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    z-index: 5;
    transform: translateX(100vw);
    transition: all 0.3s;
  }
  .right-page-open{
    transform: translateX(0);
  }
  .navbar-logo{
    font-size: 1rem;
  }
  .navbar-input-wrapper{
    margin-left: 0.5rem;
  }
  .navbar-wrapper{
    width: calc(100% - 1rem);
    margin: 0.5rem;
    top: 0.5rem;
    left:0;
  }
}